.display-company {
    background-color: #cc222244 !important;
  }
  
  .display-team {
    background-color: #2244cc44;
  }
  
  .display-member {
    background-color: #99999944;
    border-left: 1px solid var(--ag-foreground-color) !important;
    border-right: 1px solid var(--ag-foreground-color) !important;
    border-bottom: 1px solid var(--ag-foreground-color) !important;
  }
  
  .ag-cell {
    line-height: 46px;
    font-family: "monica-ext-font_YIBBBFG";
    font-weight: 500;
    border-left-width: 1px !important;
    /* border-color: black !important; */
    border-left-color: #9b9b9b !important;
    overflow: visible !important;
    display: flex !important;
    justify-content: center !important;
  }
  
  .ag-header-cell-text {
    overflow: visible !important;
  }
  
  .ag-header-cell-label {
    display: flex;
    justify-content: center !important;
  }
  
  .ag-header-cell {
    font-family: "monica-ext-font_YIBBBFG";
    font-weight: 500;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* display: flex !important;
      justify-content: center !important; */
  }
  
  .ag-pinned-left-header {
    background-color: antiquewhite;
  }
  
  .ag-header-viewport {
    background-color: beige;
  }